<!--   <div class="container well">
  <%#= form_tag url: submit_search_path, method: :post do %>
    <p id="formmessage">Search for the name of a song:</p>
    <input type="text" name="usersearch" required>
    <input type="submit" value="Submit">
  <%# end %>
  </div>
 -->

<div class="container well">
  <%=form_tag url: submit_search_path, method: :post do%>
     <input type="text" class="searchbox" 
          placeholder="Song Search.." name="usersearch" required/>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
  <%end%>
</div>

