<div id="mainpagetho">
  <%= form_tag url: submit_search_path, method: :post do %>
        <input type="text" name="usersearch" class="form-control" placeholder="song search.." 
         required/>
    <%end%>
</div>
    
<div id="mainpage2">
  <i class="fa fa-refresh fa-spin fa-5x"></i>  
  <i class="fa fa-flag fa-5x"></i>
  <i class="fa fa-music fa-5x"></i>
    <div class="container">
      <h5 id="heading2">.My music database allows you to search through millions of songsand upload them to ur very own music library.
      <br> Get started now!
      </h5>
    </div>
</div>
<div id="mainpage3">
  <div class="container"> 
    <i class= "fa fa-quote-left fa-3x pull-left fa-border"></i>
    <h5 id="heading3"> store all your music preferences in one place.
    </h5>
  </div>
</div>
<%= link_to "Donate", new_charge_path %>