<!-- ################welcome text #################-->

<div class="homepagebackground">
  <div class="container centerme">
  <h1>Welcome to MMDB </h1>
  <h4>created by Tabish Khan</h4><hr>
  <h5>My music database allows you to search through millions of songs
  and upload them to ur very own music library.<br> Get started now!</h5>
  <div class="btn"><%=link_to "Song Search", ""%></div>
  </div>
</div>
 


<!-- ##############################################-->



