<!-- home page -->


<!-- background image -->
<!--<style id="backgroundimage">
body
{ background-image: url('assets/albumcovers.jpg');
  /*background-repeat: no-repeat;*/
}
</style>
-->



<!-- main header block -->

<div id="mainpagetho">
<div class="mainheader">
  <span id="mainpagetext"> mymusicdatabase.<%#=image_tag 'mmdb.png'%></span>
  <span id= "homebutton"><%=link_to "Search Songs", "/search"%></span>
</div>
</div>

<div id="mainpage2">
      <i class="fa fa-refresh fa-spin fa-5x"></i>  
       <i class="fa fa-flag fa-5x"></i>
       <i class="fa fa-music fa-5x"></i>


  <div class="container">
  <h5 id="heading2">.My music database allows you to search through millions of songsand upload them to ur very own music library.<br> Get started now!</h5>
  
  </div>
</div>




<div id="mainpage3">
<div class="container"> 
  <i class= "fa fa-quote-left fa-3x pull-left fa-border"></i>
  <h5 id="heading3"> store all your music preferences in one place.</h5></div>
</div>





<!-- ##############################################-->



