<!-- home page -->


<!-- background image -->
<!--<style id="backgroundimage">
body
{ background-image: url('assets/albumcovers.jpg');
  /*background-repeat: no-repeat;*/
}
</style>
-->



<!-- main header block -->

<div id="mainpagetho">
<div class="mainheader">
  <span id="mainpagetext"> mymusicdatabase.<%#=image_tag 'mmdb.png'%></span>
  <span id= "homebutton"><%=link_to "Search Songs", "/search"%></span>
</div>
</div>

<div id="mainpage2">
  <div class="container">
  <h5 id="heading2">My music database allows you to search through millions of songsand upload them to ur very own music library.<br> Get started now!</h5>
  </div>
</div>

<div id="mainpage3">
<div class="container"> 
  <h5 id="heading3"> store all your music preferences in one place.</h5></div>
</div>



<!-- ##############################################-->



