<!-- home page -->


<!-- background image -->
<style id="backgroundimage">
body
{ background-image: url('assets/albumcovers.jpg');
  /*background-repeat: no-repeat;*/
}
</style>


<!-- main header block -->

<div class="mainheader">
  <span id="mainpagetext"> mymusicdatabase.<%#=image_tag 'mmdb.png'%></span>
  <span id= "homebutton"><%=link_to "Search Songs", "/search"%></span>
</div>



<div class="container">
  <h5>My music database allows you to search through millions of songs
  and upload them to ur very own music library.<br> Get started now!</h5>
</div>


<div> <h5> store all your music preferences in one place.</h5></div>




<!-- ##############################################-->



