<!-- ################logo #################-->

<%=image_tag 'itunes10.png'%>


<!-- ################welcome text #################-->

<div class="container centerme">
  <h1>Welcome to MMDB </h1>
  <h4>created by Tabish Khan</h4><hr>
  <h5>My music database allows you to search through millions of songs
  and upload them to ur very own music library.<br> Get started now!</h5>
</div>
 

<!-- ################ login/logou #################-->

<div id="topright">
  <% if user_signed_in? %>
        Hi <%=current_user.name%>,
        <%=link_to 'Logout', 
        destroy_user_session_path, 
        :method => :delete %>
        <%else%> 
        <%=link_to 'Login', 
        new_user_session_path%>
        <%end%><br>
</div>
      

<!-- ##############################################-->



