@import "bootstrap-sprockets";
@import "bootstrap";

//FRONT END TO DO: copy the nav bar from screenshot in main folder
//style button on home page better
//fix background album covers display, with overlaying divs



//app wide //////////////////////////////////////////////////////



#results_title{
  color:white;
  text-align: center;
}

#sidebar{
// height:100vh;
// width:50px;
// margin-right:0px;

}

#mainpagetho{
  background-image: url('albumcovers.jpg');
  width:100%;
  height:100vh;

}

#paymentpage{
background-color:#162955;
height:50vh;
width:100%;
color:gray;
text-align: center;
}

#paymentpagecompanies{
background-image: url('paidcompanies2.png');
width:100%;
 }

#paymenttext{
text:black;
}


#searchimage{
 // margin-left:10px;
 // vertical-align: center;
 // margin: 10px, 10px, 10px, 10px;
}

#listimage{
  width:5px;
  height:5px;
}



#mainpage2{
  background-color: #162955;
  width:100%;
  height:300px;
}

#mainpage3{
  background-color:black;
  width:100%;
  height:100px;
}

#heading2{
color:white;
font-size:50px;
}

#heading3{
color:white;

}

.fa{
  margin-top:30px;
  color:white;
}

.fa-flag{
  color:white;
}

// .inlinedivs{

//   display:inline-block;
// }

// .inlinedivs2{
//   float:right;
// }

.navbar{
// background-color: #000000; opacity: 0.8; filter: alpha(opacity=50);
border-radius: 0 !important;
background-color:#000000;
margin-bottom:0px;
}

#navbarname{
font-weight:900;
font-size:40px;
color:#162955;
// border-color:gray;
// border-style:solid;
}

#backgroundimage{
  width:100%;
}

//app fonts
html{
  font-family: 'Lato', sans-serif;
}

h1,h2{
  font-family: 'Lato', sans-serif;
  font-weight:900;
}

#mainpagetext{
font-size:125px;
font-weight:900;
width:1100px;
// color:#031338
color:white;
}

#homebutton{

font-size:15px;
// font-style:bold;
color:white;
border-color:white;
border-style:solid;



}

//logo 
#mylogo{
width:60px;
height:60px;
}

#userauth{

  font-size:17px;
  float:right;
  height:48px;

}


//login/logout app wide (RIGHT SIDE OF NAVBAR)
#scootover{
  position:absolute;
  top:0;
  right:0;
}


//home page ///////////////////////////////////////////////////////

// main text block on home page
.mainheader{
position:absolute; //part of center forumla
top:50%; //part of center formula
left:50%; //part of center formula
// width:1200px;
width:1400px;
height:300px;
// margin:-150px 0 0 -600px;
margin:-150px 0 0 -700px;
border-bottom: 60px;
border-top:60px;
border-left:0px;
border-right:0px;
border-style: solid;
border-color:#162955 ;
background-color: #000000; opacity: 0.9; filter: alpha(opacity=50);


}

.btn{
border-style:solid;
border-color:black;
width:500px;
height:auto;
text-align: center;
margin-top:50px;
margin-left:325px;
position:relative;
float:center;

}

//devise ////////////////////////////////////////////////////////////

//all forms for devise
.devise{
position:absolute;
top:50%;
left:50%;
height:400px;
width:1200px;
margin:-200px 0 0 -600px; //centering div in center of page formula (-1/2 of height,0,0,-1/2 of width)
border-bottom: 250px;
border-style: solid;
border-color:#B0B0B0 ;
background-color: #000000; opacity: 0.9; filter: alpha(opacity=50);
color:gray;

}

//devise alerts
.alert{
  padding:0px
}






///////////////////SEARCH PAGE INDEX ////////////////////////////////////////////
 #searchpagemaindiv{
   height:100vh;
   width:100%;
   background-color:black;
  // background-image: url('music-notes.jpg');
  // background-image: url('headphones_resized.jpg');

 }

#searchimage{
  background-image: url('mmdb.png');
  width:350px;
  height:350px;
  top:8%;
  left:40%;
  position:absolute;

}

#onlyheadphones{
  background-image: url('only-headphones.jpg');
  // float:right;
  top:40%;
  width:640px;
  height:700px;
  float:right;
  border-bottom: 100px;
}

#searchtext{
width:800px;
height:200px;
color:#B0B0B0;  
font-size:75px;
font-family: 'Lato', sans-serif;
font-weight:900;
position:absolute;
top:30%;
left:30%;
// margin-left: 520px;
// margin-top:150px;

}

#searchimage2{
  background-image: url('mmdb_2.png');
  width:350px;
  height:350px;
  top:50%;
  left:40%;
  position:absolute;

}



#options{

  width:1000px;
  height:30px;
  // background-color:white;
  top:55%;
  left:20%;
  position:absolute;

}
// .searchdiv{
// background-color:blue;
// height:400px;
// width:1400px;
// position:absolute;
// top:50%;
// left:50%;
// margin:-200px 0 0 -700px;
// }



//search page (/search) //////////////////////////////////////////////

//search box


// .searchdiv{
//   // padding:6px 15px 6px 30px;
//   position:absolute;
//   top:50%;
//   left:50%;
//   width:1200px;
//   height:100px;
//   margin:-50px 0 0 -600px;
//   border-style:solid;
//   border-color:black;
// }

// .searchbox{
//   width:1000px;
//   height:50px;
//   // margin:10px auto auto 80px;
//   margin:-25px 0 0 -500px;
//   position:absolute;
//   top:50%;
//   left:50%;
//   border-style:solid;
//   background: url('star.png') no-repeat scroll 7px 7px;
//   padding-right:30px;



// }

// #searchstuff{
//   height:100px;
//   width:1200px;
//   border-style:solid;
//   position:absolute;
//   margin:-50px 0 0 -600px;
//   top:50%;
//   left:50%; 
//   // background-color:black;
// }


.input-group{

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    width:1000px; 

}

.fa-search{
  color:black;
  margin-top: 0px;
  font-size: 100%;
  // padding-bottom:10px;
  // height:90px;
  // position:relative;
  // float:right;
  // margin-right:40px;
  // margin-bottom:20px;
  // margin-top:20px;
  // border-style:solid;
  // border:50px 50px 50px 50px;
  // padding:10px 10px 10px 10px;
}

.searchbox2{
  height:109px;
  // font-size:40px;
}

.form-control{
  height:59px;
  // width:1000px;
  font-size:25px;
}




.well {
  // background-color: rgba(355,555,800,0.1);
  position: absolute;
  top: 50%;
  left:50%;
  // padding: 15px;
  // padding-top: 0px;
  // padding-bottom: 5px;
  width:1200px;
  height:50px;
  margin:-25px 0 0 -600px;


}




// .devise{
// position:absolute;
// top:50%;
// left:50%;
// height:400px;
// width:1200px;
// margin:-200px 0 0 -600px; //centering div in center of page formula (-1/2 of height,0,0,-1/2 of width)
// border-bottom: 250px;
// border-style: solid;
// border-color:#66CCFF;

// }



//search display results page (/search, create) //////////////////////////////////////////////


#songname{
font-size: 15px;
color:white;
font-style:bold;
}

#songartist{
font-size: 10px;
font-style: italic;
color:white;
}

#songalbum{
color:white;

}

#songrating{
  color:white;
}

#otherinfo{
  color:white;
}

#songid{
color:white;

}

#albumid{
  color:white;
}

#artistid{
  color:white;
}



.homepagebackground{


}

.input-group-addon {
  width:120px;
}

.center {
  text-align: center;
}






//my songs index page

#usercollection{
  color:white;
}









