@import "bootstrap-sprockets";
@import "bootstrap";

//FRONT END TO DO: copy the nav bar from screenshot in main folder
//style button on home page better
//fix background album covers display, with overlaying divs



//app wide //////////////////////////////////////////////////////


#mainpagetho{
  background-image: url('albumcovers.jpg');
  width:100%;
  height:100vh;

}

#mainpage2{
  background-color: #162955;
  width:100%;
  height:300px;
}

#mainpage3{
  background-color:black;
  width:100%;
  height:100px;
}

#heading2{
color:white;
font-size:50px;
}

#heading3{
color:white;

}

.fa{
  margin-top:30px;
  color:white;
}

.fa-flag{
  color:white;
}

.inlinedivs{

  display:inline-block;
}

.inlinedivs2{
  float:right;
}
.navbar{
// background-color: #000000; opacity: 0.8; filter: alpha(opacity=50);
border-radius: 0 !important;
background-color:#000000;
margin-bottom:0px;
}

#navbarname{
font-weight:900;
font-size:40px;
color:#162955;
border-color:gray;
border-style:solid;
}

#backgroundimage{
  width:100%;
}

//app fonts
html{
  font-family: 'Lato', sans-serif;
}

h1,h2{
  font-family: 'Lato', sans-serif;
  font-weight:900;
}

#mainpagetext{
font-size:125px;
font-weight:900;
width:1100px;
// color:#031338
color:white;
}

#homebutton{

font-size:15px;
// font-style:bold;
color:white;
border-color:white;
border-style:solid;



}
.scrollable{

 overflow: scroll;

}
//logo 
#mylogo{
width:60px;
height:60px;
}

#userauth{

  font-size:17px;
  float:right;
  height:48px;

}


//login/logout app wide (RIGHT SIDE OF NAVBAR)
#scootover{
  position:absolute;
  top:0;
  right:0;
}


//home page ///////////////////////////////////////////////////////

// main text block on home page
.mainheader{
position:absolute; //part of center forumla
top:50%; //part of center formula
left:50%; //part of center formula
// width:1200px;
width:1400px;
height:300px;
// margin:-150px 0 0 -600px;
margin:-150px 0 0 -700px;
border-bottom: 60px;
border-top:60px;
border-left:0px;
border-right:0px;
border-style: solid;
border-color:#162955 ;
background-color: #000000; opacity: 0.9; filter: alpha(opacity=50);


}

.btn{
border-style:solid;
border-color:black;
width:500px;
height:auto;
text-align: center;
margin-top:50px;
margin-left:325px;
position:relative;
float:center;

}

//devise ////////////////////////////////////////////////////////////

//all forms for devise
.devise{
position:absolute;
top:50%;
left:50%;
height:400px;
width:1200px;
margin:-200px 0 0 -600px; //centering div in center of page formula (-1/2 of height,0,0,-1/2 of width)
border-bottom: 250px;
border-style: solid;
border-color:#B0B0B0 ;
background-color: #000000; opacity: 0.9; filter: alpha(opacity=50);

}

//devise alerts
.alert{
  padding:0px
}



//search page (/search) //////////////////////////////////////////////

//search box


// .searchdiv{
//   // padding:6px 15px 6px 30px;
//   position:absolute;
//   top:50%;
//   left:50%;
//   width:1200px;
//   height:100px;
//   margin:-50px 0 0 -600px;
//   border-style:solid;
//   border-color:black;
// }

.searchbox{
  width:1000px;
  height:30px;
  margin:10px auto auto 80px;
}

.well {
  // background-color: rgba(355,555,800,0.1);
  position: absolute;
  top: 50%;
  left:50%;
  // padding: 15px;
  // padding-top: 0px;
  // padding-bottom: 5px;
  width:1200px;
  height:50px;
  margin:-25px 0 0 -600px;


}





// .devise{
// position:absolute;
// top:50%;
// left:50%;
// height:400px;
// width:1200px;
// margin:-200px 0 0 -600px; //centering div in center of page formula (-1/2 of height,0,0,-1/2 of width)
// border-bottom: 250px;
// border-style: solid;
// border-color:#66CCFF;

// }



//search display results page (/search, create) //////////////////////////////////////////////


#songname{
font-size: 15px;
color:white;
font-style:bold;
}

#songartist{
font-size: 10px;
font-style: italic;
color:white;
}

#songalbum{
color:white;

}

#songkey{
color:white;

}

.homepagebackground{


}




