

<div class="container center" id="paymentpage">
    <%= form_tag charges_path do %>
      <label class="amount">
      <!-- <span>Amount: $2.00</span><br> -->
      <input name="customamount" placeholder="Enter amount"></input>
      </label>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
        data-description="Donate"
        data-amount="customamount">
      </script>
   <%end%>
</div>

<div id="brand">
SlideIn/Out
</div>
<input type ="checkbox" id="menuToggle">
<label for="menuToggle" id="menu-icon">&#9776;</label>

<nav id="slideinmenu">
  <li><a href="#">Home</a></li>
  <li><a href="#">check</a></li>
  <li><a href="#">test</a></li>
  <li><a href="#">playwithme</a></li>
  <li><a href="#">Hpome</a></li>
</nav>

<!-- 
<div id="paymentpagecompanies">
fdsafsaf
ds
fads
f
</div> -->


<div id="donationthumbnail">
</div>