<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $2.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
          data-description="Donate"
          data-amount="200"></script>
<% end %>